services:
  server:
    image: codeberg.org/forgejo/forgejo:15.0.2
    restart: unless-stopped
    environment:
      USER_UID: 1000
      USER_GID: 1000
      FORGEJO__database__DB_TYPE: postgres
      FORGEJO__database__HOST: postgresql:5432
      FORGEJO__database__NAME: forgejo
      FORGEJO__database__USER: forgejo
      FORGEJO__database__PASSWD: forgejo
      FORGEJO__database__SCHEMA: forgejo
      FORGEJO__server__DOMAIN: {{ forgejo_domain }}
      FORGEJO__server__SSH_PORT: 222
      FORGEJO__server__ROOT_URL: https://{{ forgejo_domain }}
      FORGEJO__server__SSH_DOMAIN: {{ forgejo_domain }}
      FORGEJO__security__INSTALL_LOCK: "true"
      FORGEJO__security__REVERSE_PROXY_TRUSTED_PROXIES: https://{{ forgejo_domain }}
      FORGEJO__service__DISABLE_REGISTRATION: "true"
    volumes:
      - data:/data
      - /etc/localtime:/etc/localtime:ro
    ports:
      - 222:22
      - 127.0.0.1:3000:3000
  
  postgresql:
    image: postgres:18.4
    restart: unless-stopped
    shm_size: 128mb
    volumes:
      - db:/var/lib/postgresql/18/docker
    environment:
      POSTGRES_PASSWORD: postgres
    configs:
      - source: forgejo-db-init-script
        target: /docker-entrypoint-initdb.d/forgejo-db-init-script.sql

configs:
  forgejo-db-init-script:
    content: |-
      create role forgejo with encrypted password 'forgejo';
      create database forgejo with owner forgejo;
      \c forgejo;
      create schema authorization forgejo;
      alter role forgejo with login;

volumes:
  data:
  db: